---
import UIString from '../UIString.astro';
---

<div dir="ltr" lang="en" class="sponsors">
	<h2 class="sponsors-title"><UIString key="leftSidebar.sponsoredBy" /></h2>
</div>

<style>
	.sponsors {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
		padding: 3rem 0;
	}
	a {
		opacity: 0.75;
	}
	a:hover {
		opacity: 1;
	}
	svg {
		color: var(--theme-text);
		fill: currentColor;
	}

	.sponsors-title {
		color: hsl(var(--color-base-gray), 25%);
		font-size: 0.8em;
		font-weight: 300;
		letter-spacing: 0.0625em;
		margin: 0 0;
		text-transform: uppercase;
	}
	:global(:root.theme-dark) .sponsors-title {
		color: hsl(var(--color-base-gray), 75%);
	}
</style>
